# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates
*.rsuser
*.vsp
*.vspx
*.psess
*.sdf
*.cache
*.dbmdl
*.pfx
*.publishsettings
*.vspscc
*.vssscc
*.tss
*.jmconfig

# Visual Studio working folder
.vs/

# Rider and ReSharper
.idea/
_ReSharper*/
*.DotSettings.user

# VS Code
.vscode/
.history/
*.code-workspace

# Azure specific
PublishScripts/
*.azurePubxml
*.pubxml
*.publishproj

# Web-related
node_modules/
bower_components/
wwwroot/

# Logs and diagnostics
*.log
*.svclog
*.tlog
*.e2e
*.coverage
*.coveragexml
*.crash
*.pidb

# Build artifacts
*.dll
*.exe
*.appx
*.appxbundle
*.msi
*.msm
*.msp

# Test and coverage tools
coverage*/
coverage*.json
coverage*.xml
coverage*.info
TestResults/
BenchmarkDotNet.Artifacts/
nCrunchTemp_*/

# Package managers
packages/
*.nuget.props
*.nuget.targets
*.nupkg
*.snupkg

# Others
*.bak
*.tmp
*.tmp_proj
*.dbproj.schemaview
*.rptproj.bak
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs
*.mm.*
*.gpState
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh

# Ignore local publish output
publish/
AppPackages/
BundleArtifacts/